# Data Cleaning

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import pandas as pd
df = pd.read_excel('/content/gdrive/My Drive/Colab Notebooks/Datasets/Incidents_service.xlsx')
df.shape

(141712, 25)

In [3]:
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [4]:
df_new = df[[ 'count_updated', 'opened_by', 'Support_group', 'category_ID', 'ID_status','Created_by', 'active', 'impact']]
df_new.shape

(141712, 8)

In [5]:
df_new = df_new[df_new.ID_status != -100]
df_new.ID_status.value_counts()
print(df_new.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141707 entries, 0 to 141711
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   count_updated  141707 non-null  int64
 1   opened_by      141707 non-null  object
 2   Support_group  141707 non-null  object
 3   category_ID    141707 non-null  object
 4   ID_status      141707 non-null  object
 5   Created_by     141707 non-null  object
 6   active         141707 non-null  bool
 7   impact         141707 non-null  object
dtypes: bool(1), int64(1), object(6)
memory usage: 8.8+ MB
None

In [6]:
df_new = pd.get_dummies(df_new, columns=['Support_group','category_ID','ID_status','opened_by','Created_by', 'active'], drop_first=True)
print(df_new.shape)
df_new.head()

(141707, 534)

   count_updated      impact  ...  Created_by_Created by 99  active_True
0              0  2 - Medium  ...                         0            1
1              3  2 - Medium  ...                         0            1
2              4  2 - Medium  ...                         0            0
3              1  2 - Medium  ...                         0            1
4              2  2 - Medium  ...                         0            1

[5 rows x 534 columns]

In [7]:
from sklearn.preprocessing import MinMaxScaler
mx_scaler = MinMaxScaler()
final_df2 = mx_scaler.fit_transform(df_new.drop(columns = 'impact'))
final_df2 = pd.DataFrame(final_df2, columns=df_new.drop(columns = 'impact').columns)
print(final_df2.head())

   count_updated  Support_group_Group 11  ...  Created_by_Created by 99  active_True
0       0.000000                     0.0  ...                       0.0          1.0
1       0.023256                     0.0  ...                       0.0          1.0
2       0.031008                     0.0  ...                       0.0          0.0
3       0.007752                     0.0  ...                       0.0          1.0
4       0.015504                     0.0  ...                       0.0          1.0

[5 rows x 533 columns]

In [8]:
from sklearn.decomposition import PCA
pca = PCA(n_components=15)
pc = pca.fit_transform(final_df2)

In [9]:
final_df = pd.DataFrame(pc)
final_df['impact'] = df_new['impact']
final_df.dropna(inplace= True)
final_df.head()

          0         1         2  ...        13        14      impact
0 -0.854651 -0.353830  0.022320  ... -0.097093 -0.168013  2 - Medium
1 -0.738597 -0.110949 -0.051450  ... -0.025715 -0.169768  2 - Medium
2 -0.533766  1.269262  0.248134  ... -0.027035 -0.163412  2 - Medium
3 -0.797492  0.019170  0.122414  ... -0.284902  0.212774  2 - Medium
4 -0.797536  0.019288  0.122569  ... -0.284799  0.212814  2 - Medium

[5 rows x 16 columns]

In [10]:
from sklearn.model_selection import train_test_split
X = final_df.drop(columns = 'impact')
y = final_df['impact']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101, stratify= y)
print(y_train.value_counts())
print(y_test.value_counts())

2 - Medium    94030
3 - Low        2717
1 - High       2444
Name: impact, dtype: int64
2 - Medium    40299
3 - Low        1165
1 - High       1047
Name: impact, dtype: int64

# Neural Networks

In [11]:
from keras.utils import to_categorical
final_df.impact = pd.Categorical(final_df.impact)
final_df.impact = final_df.impact.cat.codes
y = to_categorical(final_df.impact)

In [12]:
from keras.utils import to_categorical
final_df.impact = pd.Categorical(final_df.impact)
final_df.impact = final_df.impact.cat.codes
y = to_categorical(final_df.impact)
from keras.models import Sequential
from keras.layers import Dense
model = Sequential()
model.add(Dense(10, activation="relu",input_shape=(15,)))
model.add(Dense(10))
model.add(Dense(3, activation='softmax'))
model.summary()
model.compile(optimizer='adam', loss='categorical_crossentropy',metrics=['accuracy'] )
model.fit(X, y,validation_split=0.3, epochs = 30)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                160
_________________________________________________________________
dense_1 (Dense)              (None, 10)                110
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 33
=================================================================
Total params: 303
Trainable params: 303
Non-trainable params: 0
_________________________________________________________________
Epoch 1/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.2248 - accuracy: 0.9463 - val_loss: 0.2509 - val_accuracy: 0.9480
Epoch 2/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1998 - accuracy: 0.9478 - val_loss: 0.2533 - val_accuracy: 0.9478
Epoch 3/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1981 - accuracy: 0.9479 - val_loss: 0.2555 - val_accuracy: 0.9472
Epoch 4/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1967 - accuracy: 0.9478 - val_loss: 0.2559 - val_accuracy: 0.9478
Epoch 5/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1958 - accuracy: 0.9479 - val_loss: 0.2562 - val_accuracy: 0.9478
Epoch 6/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1951 - accuracy: 0.9479 - val_loss: 0.2592 - val_accuracy: 0.9480
Epoch 7/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1946 - accuracy: 0.9479 - val_loss: 0.2590 - val_accuracy: 0.9474
Epoch 8/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1943 - accuracy: 0.9479 - val_loss: 0.2568 - val_accuracy: 0.9478
Epoch 9/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1940 - accuracy: 0.9479 - val_loss: 0.2587 - val_accuracy: 0.9478
Epoch 10/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1938 - accuracy: 0.9478 - val_loss: 0.2571 - val_accuracy: 0.9478
Epoch 11/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1936 - accuracy: 0.9479 - val_loss: 0.2571 - val_accuracy: 0.9480
Epoch 12/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1933 - accuracy: 0.9479 - val_loss: 0.2582 - val_accuracy: 0.9481
Epoch 13/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1930 - accuracy: 0.9479 - val_loss: 0.2592 - val_accuracy: 0.9480
Epoch 14/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1928 - accuracy: 0.9480 - val_loss: 0.2615 - val_accuracy: 0.9480
Epoch 15/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1926 - accuracy: 0.9479 - val_loss: 0.2602 - val_accuracy: 0.9480
Epoch 16/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1924 - accuracy: 0.9479 - val_loss: 0.2618 - val_accuracy: 0.9481
Epoch 17/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1923 - accuracy: 0.9480 - val_loss: 0.2604 - val_accuracy: 0.9480
Epoch 18/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1922 - accuracy: 0.9480 - val_loss: 0.2623 - val_accuracy: 0.9478
Epoch 19/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1921 - accuracy: 0.9480 - val_loss: 0.2609 - val_accuracy: 0.9478
Epoch 20/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1921 - accuracy: 0.9479 - val_loss: 0.2607 - val_accuracy: 0.9480
Epoch 21/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1921 - accuracy: 0.9480 - val_loss: 0.2590 - val_accuracy: 0.9480
Epoch 22/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1920 - accuracy: 0.9479 - val_loss: 0.2584 - val_accuracy: 0.9480
Epoch 23/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1918 - accuracy: 0.9479 - val_loss: 0.2605 - val_accuracy: 0.9480
Epoch 24/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1918 - accuracy: 0.9479 - val_loss: 0.2610 - val_accuracy: 0.9480
Epoch 25/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1917 - accuracy: 0.9479 - val_loss: 0.2630 - val_accuracy: 0.9481
Epoch 26/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1916 - accuracy: 0.9479 - val_loss: 0.2599 - val_accuracy: 0.9480
Epoch 27/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1916 - accuracy: 0.9479 - val_loss: 0.2607 - val_accuracy: 0.9480
Epoch 28/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1916 - accuracy: 0.9479 - val_loss: 0.2600 - val_accuracy: 0.9480
Epoch 29/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1915 - accuracy: 0.9479 - val_loss: 0.2577 - val_accuracy: 0.9480
Epoch 30/30
3100/3100 [==============================] - 4s 1ms/step - loss: 0.1913 - accuracy: 0.9480 - val_loss: 0.2585 - val_accuracy: 0.9480

In [13]:
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
early_stopping = EarlyStopping(monitor='val_accuracy', patience=5)
model = Sequential()
model.add(Dense(100, activation="relu",input_shape=(15,)))
model.add(Dense(100))
model.add(Dense(100))
model.add(Dense(3, activation='softmax'))
model.summary()
model.compile(optimizer='adam', loss='categorical_crossentropy',metrics=['accuracy'] )
model.fit(X, y,validation_split = 0.2, epochs = 100,use_multiprocessing= True, callbacks = [early_stopping])

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 100)               1600
_________________________________________________________________
dense_4 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_5 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_6 (Dense)              (None, 3)                 303
=================================================================
Total params: 22,103
Trainable params: 22,103
Non-trainable params: 0
_________________________________________________________________
Epoch 1/100
3543/3543 [==============================] - 5s 1ms/step - loss: 0.2144 - accuracy: 0.9458 - val_loss: 0.2293 - val_accuracy: 0.9532
Epoch 2/100
3543/3543 [==============================] - 5s 1ms/step - loss: 0.2078 - accuracy: 0.9464 - val_loss: 0.2297 - val_accuracy: 0.9532
Epoch 3/100
3543/3543 [==============================] - 5s 1ms/step - loss: 0.2056 - accuracy: 0.9466 - val_loss: 0.2356 - val_accuracy: 0.9532
Epoch 4/100
3543/3543 [==============================] - 5s 2ms/step - loss: 0.2045 - accuracy: 0.9465 - val_loss: 0.2384 - val_accuracy: 0.9524
Epoch 5/100
3543/3543 [==============================] - 5s 1ms/step - loss: 0.2031 - accuracy: 0.9466 - val_loss: 0.2400 - val_accuracy: 0.9524
Epoch 6/100
3543/3543 [==============================] - 5s 1ms/step - loss: 0.2023 - accuracy: 0.9465 - val_loss: 0.2344 - val_accuracy: 0.9531